<a href="https://colab.research.google.com/github/SarangK15/Introduction-to-Python/blob/main/01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
30+15

45

In [2]:
30*15

450

In [3]:
30-15

15

In [4]:
30/15

2.0

In [5]:
x=10

In [6]:
print(x)

10

In [7]:
x=10
y=20
print(x,y)

10 20

In [8]:
x=10
y=20
print(x+y,x-y,x*y,x/y)

30 -10 200 0.5

In [9]:
x='Sarang K'
print(x)

Sarang K

In [10]:
x="Sarang K"
print(x)

Sarang K

In [11]:
x='''Sarang K'''
print(x)

Sarang K

In [12]:
print(x[0])

S

In [13]:
print(x[7])

K

In [14]:
print(x[-1])

K

In [15]:
print(x[-8])

S

In [16]:
print(x[:2])

Sa

In [17]:
print(x[0:6])

Sarang

In [18]:
print(x[-8:-2])

Sarang

In [19]:
print(x[-1:])

K

In [20]:
x="Sarang"
y=" K"
print(x+y)

Sarang K

In [21]:
x="Sarang"
y="K"
print(x+" "+y)

Sarang K

In [22]:
x=10
y=20
print(x+y)

30

In [23]:
x="10"
y="20"
print(x+y)

1020

In [24]:
x="10"
y="20"
print(int(x)+int(y))

30

In [25]:
x=10
print(type(x))

<class 'int'>

In [26]:
x=10.5
print(type(x))

<class 'float'>

In [27]:
x="Sarang K"
print(type(x))

<class 'str'>

In [28]:
x=input("Enter your name: ")

Enter your name: Sarang K

In [29]:
print(x)

Sarang K

In [30]:
age=int(input("Enter your age: "))

Enter your age: 21

In [31]:
1x=input("Enter a number: ")
y=input("Enter a number: ")
print(int(x)+int(y))
print(int(x)-int(y))
print(int(x)*int(y))
print(int(x)/int(y))

Enter a number: 10
Enter a number: 20
30
-10
200
0.5

In [32]:
I=float(input("Enter the current: "))
R=float(input("Enter the resistance: "))
V=I*R
print("Voltage = ",V)

Enter the current: 2.5
Enter the resistance: 2
Voltage =  5.0

In [33]:
marks=int(input("Enter marks: "))
if marks==50:
  print("Just Pass")
elif marks>50:
  print("Pass")
else:
  print("Fail")

Enter marks: 50
Just Pass

In [34]:
marks=int(input("Enter marks: "))
if 0<=marks<50:
  print("Fail")
if 50<=marks<=60:
  print("Second class")
if 61<=marks<=80:
  print("First class")
if marks>80:
  print("Distinction")

Enter marks: 50
Second class

In [35]:
marks=int(input("Enter marks: "))
if 0<=marks and marks<50:
  print("Fail")
if 50<=marks and marks<=60:
  print("Second class")
if 61<=marks and marks<=80:
  print("First class")
if marks>80:
  print("Distinction")

Enter marks: 81
Distinction

In [36]:
marks=int(input("Enter marks: "))
if 0<=marks and marks<50:
  print("Fail")
if 50<=marks and marks<=60:
  print("Second class")
if 61<=marks and marks<=80:
  print("First class")
if marks>80:
  n=int(input("Enter the number of arrears: "))
  if n==0:
    print("Distinction")
  else:
    print("No distinction since you have arrear(s)")

Enter marks: 81
Enter the number of arrears: 0
Distinction

In [37]:
number=int(input("Enter a number: "))
if number%2==0:
  print(number," is even")
else:
  print(number," is odd")

Enter a number: 2
2  is even

In [38]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [39]:
s=0
for i in range(10):
  s=s+i
print(s)

45

In [40]:
s=0
for i in range(1,101):
  if i%2==0:
    s+=i
print(s)

2550

In [41]:
s=1
for i in range(1,100):
  s=s*i
print(s)

933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [42]:
for i in range(100):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [43]:
s=0
x=1
choice=1
while x==1:
  n=int(input("Enter number: "))
  s+=n
  choice=int(input("Enter choice (0-Finish,1-Continue): "))
  if choice==0:
    break
print("Sum=",s)

Enter number: 1
Enter choice (0-Finish,1-Continue): 1
Enter number: 2
Enter choice (0-Finish,1-Continue): 0
Sum= 3

In [44]:
i=0
s=0
while i<=100:
  s+=i
  i+=1
print(s)

5050

In [45]:
i=1
s=0
while i<=100:
  s+=i
  i+=2
print(s)

2500

In [46]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [47]:
for i in range(1,100):
  if i%2!=0:
    continue
  else:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [48]:
x=[1,67,"India",44]
print(x)

[1, 67, 'India', 44]

In [49]:
x=[1,67,"India",44]
print(x[0])
print(x[-1])

1
44

In [50]:
x=[1,67,"India",44]
print(x[0:3])

[1, 67, 'India']

In [51]:
x=[1,67,"India",44]
print(x[-2:])

['India', 44]

In [52]:
x.append("John")
print(x)

[1, 67, 'India', 44, 'John']

In [53]:
x.insert(0,"Olivia")
print(x)

['Olivia', 1, 67, 'India', 44, 'John']

In [54]:
x[1]="Sanath"
print(x)

['Olivia', 'Sanath', 67, 'India', 44, 'John']

In [55]:
temp=x[0]
x[0]=x[-1]
x[-1]=temp
print(x)

['John', 'Sanath', 67, 'India', 44, 'Olivia']